body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: aliceblue;
    overflow-x: hidden; 
    width: 100%;
    margin-bottom: 0px;
}
#top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(1,1,70);
    padding-top: 2vh;
}

#web{
    width: 25%;
    font-size: 4vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 2vh;
}

#taskbar{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
}


a{
    text-decoration: none;
    color: white;
}
.task :hover{
    color: gray;
}

#he{
    margin-left: 100px;
}

.date{
    height: 3vh;
    width: fit-content;
    background-color: white;
}

.subject{
    font-size: 5vh;
}


.pic{
    height: 20vh;
    width: 20vh;
    background-size: cover;
}

#admis{
    background-image: url(admiss.jpg);
}

.info{
    display: flex;
}

.a{
    height: 30vh;
    width: 100%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin-top: 5vh;
    align-self: center;
}

.data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin-left: 5vh;
}

#bottom{
    background-color: rgb(1, 1, 70);
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 250px;
    margin-top: 20px;
}

.b{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}

@media (max-width: 900px){
    
    #head{
      font-size: 30px;
    }
  
    #taskbar{
      flex-direction: column;
    }

    .pic{
        height: 10vh;
        width: 10vh;
    }
}